<!-- <div id="events">
  <div class="centered">
      <h1>SHEVCHENKO VS CHOOKAGIAN</h1>
      <br>
      <h3>09/02/20</h3>
    </div>
</div>
<div class="left-container">
  <h3>UFC 247</h3>
  <div class="toyota">
    <h5>FOLLOW TOYOTA CENTER</h5>
    <div class="icons">
      <img src="/icons/BW_Twitter_glyph_svg-512.png" height="22.5px" width="22.5px">
      <img src="/icons/facebook-logo-icon-svg-11549681711ckip9hx459.png" height="22.5" width="22.5">
      <img src="/icons/1024px-Instagram_font_awesome.svg.png" height="22.5" width="22.5">
    </div>
  </div>
  <hr style="border-color:#B8B9BD;">
  <div class="buy">
    <h3>BUY TICKETS</h3>
    <div class="tickets">
      <h5 id="date">Feb 8, 2020</h5>
      <h5 id="day">Saturday @ 5:15PM</h5>
      <img class="filter-white" src="/icons/accessible_forward-24px.svg" height="35px" width="35px">
      <h5 id="accessible">Accessible Tickets</h5>
      <hr id="short-line">
      <div class="accesible-tickets">
        <h5 id="ticket">Accessible Tickets</h5>
        <img id="arrow" class="filter-white" src="/icons/keyboard_arrow_right-24px.svg" height="35px" width="35px">
      </div>
    </div>
    <div class="event">
      <h3>EVENT INFO</h3>
      <p id="event-info">Dominant flyweight champion Valentina Shevchenko defends her crown against surging contender Katlyn Chookagian, and Houston's own Derrick Lewis welcomes Ilir Latifi to the heavyweight division. Don't miss UFC in Houston in February!</p>
      <p id="co-main">Co-Main - Women's Flyweight Title Bout</p>
      <p id="competitors">Valentina "Bullet" Shevchenko vs. Katlyn "Blonde Fighter" Chookagian</p>
    </div>
  </div>
</div> -->

<div id="former_champions">
  <div class="img">
      <img id="contenders" src="/images/shevchenkovschookagian.PNG" alt="" width="100%">
      <div class="centered">
          <h1 style="font-size:8vw;">SHEVCHENKO VS CHOOKAGIAN</h1>
          <br>
          <h3>09/02/20</h3>
      </div>
  </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">UFC 247</h2>
          <p class="lead">Follow Toyota center</p>
          <img src="/icons/1024px-Instagram_font_awesome.svg.png" width="45" height="45" alt="">
          <img src="/icons/BW_Twitter_glyph_svg-512.png" width="45" height="45" alt="">
          <img src="/icons/facebook-logo-icon-svg-11549681711ckip9hx459.png" width="45" height="45" alt="">
      </div>

        <div class="my-3 py-3">
          <h2 class="display-5">BUY TICKETS</h2>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Feb 8, 2020</h5>
                <p class="card-text">Saturday @ 5:15PM</p>
                <a href="#!home" class="btn btn-danger">
                  <img class="white-filter" src="/icons/accessible_forward-24px.svg" alt="">  
                  Accessible Tickets</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="my-3 py-3">
          <h2 class="display-5">EVENT INFO</h2>
          <p class="lead">Dominant flyweight champion Valentina Shevchenko defends her crown against surging contender Katlyn Chookagian, and Houston's own Derrick Lewis welcomes Ilir Latifi to the heavyweight division. Don't miss UFC in Houston in February! </p>
          <h5 class="font-weight-bold">Co-Main - Women's Flyweight Title Bout</h5>
          <h5 class="font-weight-normal">Valentina "Bullet" Shevchenko vs. Katlyn "Blonde Fighter" Chookagian</h5>
        </div>

      </div>
      <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <a href="#!home" class="btn btn-danger"><h1 class="display-4">FIND TICKETS</h1></a>
        </div>
        <div class="card-columns d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-left">DATE</h5>
              <p class="card-text text-left">Feb 8, 2020</p>
            </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-left">EVENTS STARTS</h5>
              <p class="card-text text-left">5:15PM</p>
            </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-left">DOORS OPEN</h5>
              <p class="card-text text-left">4:15PM</p>
            </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-left">TICKET PRICES</h5>
              <div class="d-flex flex-nowrap">
                  <p class="card-text text-left"><a href="#!home" class="btn btn-danger ticket">REGULAR TICKETS</a></p>
                  <p class="card-text text-left"><a href="#!home" class="btn btn-danger ticket">PREMIUM TICKETS</a></p>
              </div>
            </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-left">TICKET INFORMATION</h5>
              <p class="card-text text-left">Tickets also available at Toyota 
                  Center Box Office</p>
            </div>
          </div>
      </div>
    </div>
</div>