<div class="d-flex justify-content-center my-3 py-3">
  <h2 id="former-champions" class="display-5">FORMER CHAMPIONS</h2>
</div>
<hr id="line">
<div class="card-deck">
<div class="card">
  <div class="container">
    <img src="/images/ronda rousey.jpg" alt="Ronda Rousey" class="image">
    <div class="overlay" ng-controller="former_championsController" class="vertical-center">
      <a class="icon" title="Fighter Description" type="button" value="Hide Text" ng-click="ShowHide()">
        <i class="fa fa-user"></i>
      </a>
      <div ng-hide="IsHidden" id="rose-card" class="container col-md-12 pt-4 bg-white">
        <a class="iconX " title="Close" type="button" value="Hide Text" ng-click="ShowHide()">
          <i id="closeButton" class="fas fa-times-circle fa-2x"></i>
        </a>
        <div class="card center-card mx-auto" style="max-width: 250px;">
          <div class="row no-gutters bg-white">
            <div class="col-lg-4">
              <img src="/images/rondarouseyprofile.png" class="card-img rounded mx-auto d-block profile-img" alt="...">
            </div>
            <div class="col-lg-8">
              <div class="card-body p-1 bg-transparent">
                <h5 class="card-title text-dark mb-1 text-center">Ronda Rousey</h5>
                <span class="card-text text-muted d-flex justify-content-center">12-2-0</span>
              </div>
            </div>
              <div class="col-lg-12 d-flex justify-content-between my-lg-3 pt-lg-2">
                <p class="text-muted">Age</p>
                <p>-</p>
                <p>32</p>
              </div>
              <div class="col-lg-12 d-flex justify-content-between my-lg-3 pt-lg-2">
                <p class="text-muted">Height</p>
                <p>-</p>
                <p>1.70 m</p>
              </div>
              <div class="col-lg-12 d-flex justify-content-between my-lg-3 pt-lg-2">
                <p class="text-muted">Weight</p>
                <p>-</p>
                <p>61.2 kg</p>
              </div>
              <div class="col-lg-12 d-flex justify-content-between my-lg-3 pt-lg-2">
                <p class="text-muted">Reach</p>
                <p>-</p>
                <p>167.6 cm</p>
              </div>
              <div class="d-flex justify-content-center"></div>
                <p class="text-center"><strong>FORMER BANTAMWEIGHT CHAMPION</strong></p>
              </div>
          </div>  
        </div>
    <!-- <div class="card-body bg-transparent description-text" ng-hide="IsHidden">
      <h5 class="name card-title">Ronda "Rowdy" Rousey</h5>
      <p class="card-text">
        <p>After becoming the first American woman to earn an Olympic medal in judo by winning bronze at the 2008 Summer Olympics, Rousey began pursuing a career in mixed martial arts (MMA).</p>

        <p>She won her MMA debut for King of the Cage before going to Strikeforce, where she became the last-ever Strikeforce Women's Bantamweight Champion before the Ultimate Fighting Championship (UFC) bought Strikeforce in 2011. She was their inaugural female champion when she was named UFC Women's Bantamweight Champion. Rousey took part in the first women's fight in UFC history when she successfully defended her title against Liz Carmouche at UFC 157.</p>
        
        <p>After setting the record for most UFC title defenses by a woman, Rousey had her first professional loss in MMA when she lost her title to Holly Holm. In 2018, she became the first female fighter to be inducted into the UFC Hall of Fame.</p>
      </div> -->
    </div>
  </div>
</div>
<div class="card">
<div class="container">
  <img src="/images/rose namajunas2.png" alt="Rose Namajunas" class="image rose-namajunas">
    <div class="overlay">
      <a class="icon" title="Fighter Description" type="button" value="Hide Text" ng-click="ShowHide()">
        <i class="fa fa-user"></i>
      </a>
      <div ng-hide="IsHidden" id="rose-card" class="container col-12 pt-4 bg-white">
        <a class="iconX " title="Close" type="button" value="Hide Text" ng-click="ShowHide()">
          <i id="closeButton" class="fas fa-times-circle fa-2x"></i>
        </a>
        <div class="card center-card mx-auto" style="max-width: 250px;">
          <div class="row no-gutters bg-white">
            <div class="col-lg-4">
              <img src="/images/NAMAJUNAS_ROSE.png" class="card-img rounded mx-auto d-block profile-img" alt="...">
            </div>
            <div class="col-lg-8">
              <div class="card-body p-1 bg-transparent">
                <h5 class="card-title text-dark mb-1 text-center">Rose Namajunas</h5>
                <span class="card-text text-muted d-flex justify-content-center">9-3-0</span>
              </div>
            </div>
              <div class="col-lg-12 d-flex justify-content-between my-lg-3 pt-lg-2">
                <p class="text-muted">Age</p>
                <p>-</p>
                <p>26</p>
              </div>
              <div class="col-lg-12 d-flex justify-content-between my-lg-3 pt-lg-2">
                <p class="text-muted">Height</p>
                <p>-</p>
                <p>1.65 m</p>
              </div>
              <div class="col-lg-12 d-flex justify-content-between my-lg-3 pt-lg-2">
                <p class="text-muted">Weight</p>
                <p>-</p>
                <p>52.2 kg</p>
              </div>
              <div class="col-lg-12 d-flex justify-content-between my-lg-3 pt-lg-2">
                <p class="text-muted">Reach</p>
                <p>-</p>
                <p>165 cm</p>
              </div>
              <div class="d-flex justify-content-center"></div>
                <p class="text-center"><strong>FORMER STRAWWEIGHT CHAMPION</strong></p>
              </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
      <!-- <div class="card-body bg-transparent description-text"> -->
        
        <!-- <h5 class="name card-title">Rose "Thug" Namajunas</h5>
        <p class="card-text"><p>Thug used to be one of the up-and-coming fighters in UFC, but she is no longer that as she has established herself as one of the fiercest fighters the UFC has ever seen. The American is currently ranked as number 2 in the UFC women’s strawweight rankings, after she was defeated by her biggest strawweight rival Jessica Andrade at UFC 237.</p>

        <p>Namajunas adopts one of the more aggressive fighting styles currently utilized by fighters and she regularly pressures opponents before moving in for the kill or going for a submission.</p>
        
        <p>Rose Namajunas’ shot at fame came at UFC 217 which was held at Madison Square Garden. She faced the then strawweight champion Joanna Jedrzejczyk and actually entered the bout as a huge underdog. However, she surprised everyone that night and upset the odds by knocking out the champion and took the crown against the run of expectations. This was by far the biggest surprise in female UFC history, but it was also a sign of things to come for Namajunas.</p>

        <p>She immediately became recognized as one of the hottest properties of female UFC and subsequently defended her title by defeating Jedrzejczyk once again in 2018, this time by decision.</p>    
       </div> -->
      <!-- </div>
 </div> -->
<!-- </div> -->