<div id="title_holders col-sm-12">
      <div class="d-flex justify-content-center my-4 align-content-sm-center ">
        <h2 id="title-holders" class="display-5">TITLE HOLDERS</h2>
      </div>
<!-- <div class="card-group d-flex flex-column">
  <div class="card align-self-center" ng-repeat="item in testamonials">
    <div class="card-body bg-transparent align-self-start ml-5">
      <h5 class="card-title d-flex justify-content-start align-items-center category">{{ item.titleText }}</h5>
      <p class="card-text d-flex justify-content-start align-items-center weight">{{ item.weight }}</p>
    </div>
  </div>
  <div class="card d-flex justify-content-center align-items-center"  ng-repeat="item in testamonials">
    <hr id="long-line">
    <img src="{{ item.image }}" width="208" height="130" style="margin-top: -0.25%;" class="" alt="...">
    <hr id="long-line">
  </div>
  <div class="card align-self-center" ng-repeat="item in testamonials">
    <div class="card-body bg-transparent align-self-center">
      <p class="card-text nickname">{{ item.nickname }}</p>
      <h5 class="card-title name">{{ item.name }}</h5>
      <p class="card-text score">{{ item.score}}</p>
      <p class="card-text fight">{{ item.fight }}</p>
    </div>
  </div>
</div>
</div> -->

  <div class="card-group" ng-repeat="item in ZhangWeili">
    <div class="card align-self-center" >
      <div class="card-body bg-transparent align-self-start ml-5">
        <h5 class="card-title d-flex justify-content-start align-items-center category">{{ item.titleText }}</h5>
        <p class="card-text d-flex justify-content-start align-items-center weight">{{ item.weight }}</p>
      </div>
    </div>
    <div class="card d-flex justify-content-center align-items-center">
      <hr id="long-line">
      <img src="{{ item.image }}" width="208" height="130" style="margin-top: -0.25%;" class="" alt="...">
      <hr id="long-line">
    </div>
    <div class="card align-self-center">
      <div class="card-body bg-transparent align-self-center">
        <p class="card-text nickname">{{ item.nickname }}</p>
        <h5 class="card-title name">{{ item.name }}</h5>
        <p class="card-text score">{{ item.score }}</p>
        <p class="card-text fight">{{ item.fight }}</p>
      </div>
    </div>
  </div>
  <div class="card-group" ng-repeat="item in ValentinaShevchenko">
    <div class="card align-self-center">
      <div class="card-body bg-transparent align-self-start ml-5">
        <h5 class="card-title d-flex justify-content-start align-items-center category">{{ item.titleText }}</h5>
        <p class="card-text d-flex justify-content-start align-items-center weight">{{ item.weight }}</p>
      </div>
    </div>
    <div class="card d-flex justify-content-center align-items-center">
      <img ng-src="{{ item.image }}" width="208" height="130" style="margin-top: -0.25%;" class="" alt="...">
      <hr id="long-line">
    </div>
    <div class="card align-self-center">
      <div class="card-body bg-transparent align-self-center">
        <p class="card-text nickname">{{ item.nickname }}</p>
        <h5 class="card-title name">{{ item.name }}</h5>
        <p class="card-text score">{{ item.score }}</p>
        <p class="card-text fight">{{ item.fight }}</p>
        <p class="card-text chookagian">{{ item.lastname }}</p>
      </div>
    </div>
  </div>
</div>
  <div class="card-group" ng-repeat="item in AmandaNunes">
    <div class="card align-self-center">
      <div class="card-body bg-transparent align-self-start ml-5">
        <h5 class="card-title d-flex justify-content-start align-items-center category">{{ item.titleText }}</h5>
        <p class="card-text d-flex justify-content-start align-items-center weight">{{ item.weight }}</p>
      </div>
    </div>
    <div class="card d-flex justify-content-center align-items-center">
      <img src="{{ item.image }}" width="208" height="130" style="margin-top: -0.25%;" class="" alt="...">
      <hr id="long-line">
    </div>
    <div class="card align-self-center">
      <div class="card-body bg-transparent align-self-center">
        <p class="card-text nickname">{{ item.nickname }}</p>
        <h5 class="card-title name">{{ item.name }}</h5>
        <p class="card-text score">{{ item.score }}</p>
        <p class="card-text fight">{{ item.fight }}</p>
        <p class="card-text chookagian">{{ item.lastname }}</p>
      </div>
    </div>
  </div>
</div>